In [1]:
import numpy as np
import pandas as pd

### DISPLAY OPTIONS

In [2]:
# view display max rows option
pd.options.display.max_rows

60

In [10]:
# set display max rows option
pd.options.display.max_rows = 999
pd.options.display.max_rows
#pd.options.display.max_rows = None

999

In [12]:
# another way to set display max rows option
pd.set_option('display.max_rows', 100)
pd.get_option('display.max_rows')

100

In [13]:
# and reset option
pd.reset_option("display.max_rows")
pd.get_option('display.max_rows')

60

In [17]:
# can also set/get display max columns
pd.set_option('display.max_columns', 100)
pd.get_option('display.max_columns')

100

### GROUP BY

In [18]:
# read csv
raw_data = pd.read_csv("/Users/james/Documents/Data/UCI ML Repository/Bank Marketing/bank-additional/bank-additional-full.csv",
                      sep=';')
raw_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no